/* Container du carousel */
.carousel {
    position: relative;
    width: 20rem;
    height: 40rem;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.product-container {
    display: flex;
    margin: 3rem;
    margin-left: 15rem;
}

.text-product {
    flex: 1;
    padding-right: 5rem;
    margin-left: 15rem;
}

.text-product h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.stars {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.stars .star {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.ratings {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold; 
    display: inline;
    display: flex;
    align-items: center;
}

#price-display {
    font-size: 20px; /* Augmente la taille du texte */
    font-weight: bold; /* Met le texte en gras */
    color: #ff00f2; /* Couleur orange vif */
    margin-top: 10px; /* Ajoute un espacement au-dessus */
    background-color: #9fe9ff; /* Fond clair pour le contraste */
    padding: 10px; /* Ajoute un peu de rembourrage */
    border: 3px solid #f700ff; /* Bordure pour faire ressortir le prix */
    border-radius: 5px; /* Coins arrondis */
    display: inline-block; /* Pour que l'élément s'ajuste au contenu */
}

.description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/*Style du select*/

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background-color: #87CEEB;
    color: rgb(255, 213, 246);
    border-radius: 10px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}