/*Contenue de la page*/

/*Banderole*/

.tester {
    background-color: #fabafb;
    color: #fff; 
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.tester p {
    margin-left: 10rem;
}

.tester img {
    width: 50%;
    height: 100%;
}


/*Contenue principale*/

.video-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 3rem;
    margin-left: 12rem;
    margin-bottom: 10rem;
}

.video-container {
    width: 40%;
}

.video-container video {
    border-radius: 10px;
    width: 40rem; 
    height: auto; 
    max-height: 25rem;
}

.video-text-container {
    width: 40%;
    margin-left: 15rem;
    margin-top: 7rem;
    color: #00a2ff;
}

.next-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
    width: 100%;
}

.next-text-container {
    margin-left: 10rem;
    margin-right: 3rem;
    margin-top: 10rem;
    width: 30%;
    color: #00a2ff;
}

.next-container img {
    border-radius: 10px;
    width: 40rem; 
    height: 20rem; 
    max-height: 25rem;
    margin-left: 15rem;
}