* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: auto;
    cursor: url('favicon.ico'), auto;
}

a:hover, button:hover, .login:hover {cursor : url('test.png'), auto;}

body{
    background-color: rgb(210, 224, 226);
}

/* Barre Rose en haut avec les boutons Promotion et Langue */
.top-bar {
    background-color: #FFB6C1;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-bar-promo {
    flex-grow: 1;
    overflow: hidden;
    line-height: 1.5;
}

.top-bar-promo p {
    white-space: nowrap;
    animation: slidein 10s linear infinite;
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
    color: #FF4500;
    text-shadow: 2px 2px 4px rgba(255, 69, 0, 0.8);
    margin: 0;
}


@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(90%);
    }
}

.top-bar-buttons {
    display: flex;
    align-items: center;
}

.top-bar .promo-btn, .top-bar .lang-btn {
    background-color: white;
    color: blue;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    font-size: 18px;
}

.top-bar .promo-btn:hover, .top-bar .lang-btn:hover {
    background-color: lightgray;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: white;
    margin: 0 1rem;
}

/*Pop up Promotion*/
.popup {
    display: none; /* Masqué par défaut */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center; 
    align-items: center; 
    z-index: 1000; /* Assure que le popup soit au-dessus */
}

.popup-content {
    background-color: white; 
    border-radius: 10px; 
    padding: 20px; 
    text-align: center; 
    width: 60%; /* Largeur du popup */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

.countdown {
    font-size: 20px; 
    margin: 20px 0; 
}

.close-btn {
    background-color: #FF4500; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

/*Pop up Langues*/


/* Style de la barre de navigation */
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.25rem;
}

.logo-container img {
    width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

nav {
    background: linear-gradient(to bottom right, skyblue, #3BD6F6);
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    margin-right: 5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    display: block;
    background-color: #00a2ff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.login a {
    color: white;
    text-decoration: none;
}

.login:hover {
    background-color: #7ed0ff;
    border-radius: 10px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-grow: 1;
}

nav ul li {
    display: inline;
    margin-right: 2rem;
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #00a2ff;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #fcb1ff;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
    bottom: 0; 
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    text-align: left;
    margin: 0.5rem 3rem;
    line-height: 1.6;
}